#zWrap dl.module_bd_container dd{margin:5px 0 30px 5%;width:95% !important}
 #zWrap dl.module_bd_container dl dd{margin:0 0 20px 20px;width:auto !important}
 #hd:after,#ft:after{content: ".";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
 #body,#hd,#pageName,#zA,#zB,#zC,#ft{zoom:1}
 #pageName {overflow:hidden;_overflow:visible;_overflow-x:hidden}
 /**************************************
  Theme: Boardroom - Derived From: Blush
 **************************************/
 #hd{min-height:95px;_height:95px}
 #bd{min-height:36em;_height:36em;_overflow:visible;_overflow-x:hidden}
 #ft{min-height:80px;_height:80px;_overflow:visible;_overflow-x:hidden}
 #doc{width:798px;margin:0 auto}
 #hd{position:relative;float:right;width:100%}
 #hContent{z-index:1;position:relative;width:567px;padding:42px 0 24px 210px}
 #hMisc {position:absolute;top:0;left:-60px;height:223px;width:858px}
 #hMisc * {display:none !important}
 #navigation{float:left;width:185px;position:relative;padding:0 6px 30px 0}
 ul#mainNav{margin-top:7px;min-height:100px;_height:100px}
 ul#mainNav li a{zoom:1;display:block;padding:4px 5px 3px 30px}
 #bd{clear:right;margin:0 0 30px 185px;position:relative}
 #pageName{line-height:2em;min-height:2em;_height:2em;width:565px;padding:0 20px 0 19px;border-bottom:7px solid #4d4038;margin-bottom:0;}
 #zWrap {margin-left:1px}
 #zB #mapZone{width:260px;height:245px}
 #zB #drivingDirectionsLnk{top:250px}
 #zC form#contactForm{width:220px}
 #ft{width:563px;margin-left:192px;padding:40px 20px 20px 20px}
 #fContent{float:right;width:300px}
 #fMisc{width:250px}
 ul#mainNav{zoom:1}
 #hContent,#fContent{overflow:hidden}
 #bd{_left:-3px;}
 #pagename{*border-left:-3px solid #aeb831}
 .modWrap{zoom:1}
 #body .sub_static #mainNav .subNav a {padding-left:40px;}
 
 
 /**************************************
  Theme: Boardroom - Derived From: Blush
 **************************************/
 
 
 
 
 		#body {
 			font-size: 12px;
 			font-family: Arial, sans-serif;
 		}
 
 
 		#body h1 {
 			font-size: 40px;
 			font-family: "Times New Roman", Times, serif;
 		}
 
 
 		#body h2 {
 			font-size: 18px;
 			font-weight: bold;
 		}
 
 		#pageName h2 {
 			font-size: 17px;
 			text-transform: uppercase;
 		}
 
 
 		#body h3 {
 			font-family: "Times New Roman", Times, serif;
 			font-size: 18px;
 			font-weight: bold;
 		}
 
 
 		#body h4 {
 			line-height: 16px;
 			font-weight: bold;
 		}
 
 
 		#ft {
 			font-size: 11px;
 		}
 
 
 		#fMisc {
 
 		}
 
 
 		#fContent {
 
 		}
 
 
 
 		ul#mainNav a:link,
 		ul#mainNav a:visited {
 			font-size: 15px;
 			font-weight: bold;
 		}
 
 
 
 		#doc  {
 			background-repeat: repeat-y;
 		}
 
 		#hMisc  {
 			background-repeat: no-repeat;
 		}
 
 
 		#navigation {
 			border-top-width: 2em;
 			border-top-style: solid;
 		}
 
 		ul#mainNav li {
 			border-bottom-width: 1px;
 			border-bottom-style: solid;
 		}
 
 		#mapZone {
 			border-width: 1px;
 			border-style: solid;
 		}
 
 		* html #mapZone {
 			border-width:0;		}
 
 		* html #mapContainer {
 			border-width: 1px;
 			border-style: solid;
 		}
 
 
 	/* 
 	 * direction and color of the arrow (assuming arrow sprite)
 	 */
 		#body .toggle img {
 			background-position:-156px -24px;
 		}
 
 		/* 
 		 * links for BOTH static and dynamic sub menus 
 		 * use this rule to group declarations common to the two different types of menus (static/dynamic)
 		 */
 		#body #mainNav .subNav a {
 			font-size:13px;
 			font-family:arial;
 			font-weight:bold;
 		}
 	
 		/* 
 		 * :hover and selected (active) links for BOTH static and dynamic sub menus
 		 * they are both styled the same 
 		 */
 
 		/* 
 		 * :hover and selected (active) links for static menus
 		 * they are both styled the same
 		 */
 		/* 
 		 * :hover and selected (active) links for fly-out menus
 		 * they are both styled the same 
 		 */
 		/* 
 		 * sub menus (fly-out) 
 		 */
 		#body .sub_dynamic #mainNav .subNav {
 			border-style:solid;
 			border-width:1px;
 		}
 			
 		/*
 		 * re-moving borders on li.trigger 
 		 * and on sub links in static menu
 		 */	
 
 		#body .sub_static .subNav li {
 			border-bottom-width: 0;
 		}
 
 		#body .subNav {
 			border-top-width: 1px;
 			border-top-style: solid;
 		}
 			
 
 
 
 
 /***************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 1 - Derived from Layout 1 with Title
 ****************************************************/
 .lo_layout1 #pageName * {display:none}
 
 
 /***************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 1 - Derived from Layout 1 with Title
 ****************************************************/
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 1 with Title - Derived from: Layout 1 with Title
 ***************************************************************/
 .lo_layout1 #zA, .lo_layout1wt #zA {width:563px;padding:20px 20px 10px 20px}
 .lo_layout1 #zB, .lo_layout1wt #zB {float:left;width:270px;padding:10px 0 20px 20px}
 .lo_layout1 #zC, .lo_layout1wt #zC {float:right;width:270px;padding:10px 22px 20px 0}
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 1 with Title - Derived from: Layout 1 with Title
 ***************************************************************/
 .lo_layout1 #zA, .lo_layout1wt #zA {
 
 			font-size: 15px;
 
 		}
 .lo_layout1 #zA h3, .lo_layout1wt #zA h3 {
 			font-size: 24px;
 
 		}
 .lo_layout1 #doc, .lo_layout1wt #doc {
 
 			background-repeat: repeat-y;
 
 		}
 .lo_layout1 #zA, .lo_layout1wt #zA, .lo_layout1 #ft, .lo_layout1wt #ft {
 
 		}
 .lo_layout1 #zA, .lo_layout1wt #zA {
 			border-bottom-width: 1px;
 
 			border-bottom-style: solid;
 
 		}
 .lo_layout1 #ft, .lo_layout1wt #ft {
 			border-top-width: 1px;
 
 			border-top-style: solid;
 
 		}
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #zWrap {overflow:hidden;zoom:1}
 .lo_layout2wt #zA {float:left;width:270px;margin:20px 0 20px 20px;display:inline}
 .lo_layout2wt #zB {float:right;width:270px;margin:20px 23px 20px 0;display:inline}
 .lo_layout2wt #zC {clear:both;width:563px;padding:20px 20px 10px 20px}
 .lo_layout2wt #zC form#contactForm {width:300px;margin-left:20px}
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #zC {
 
 		}
 .lo_layout2wt #zC {
 			border-bottom-width: 1px;
 
 			border-bottom-style: solid;
 
 			border-top-width: 1px;
 
 			border-top-style: solid;
 
 		}
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 3 with Title - Derived From: Layout 3 with Title
 **************************************************************/
 .lo_layout3wt #zWrap {overflow:hidden;zoom:1;}
 .lo_layout3wt #zA {float:left;width:320px;margin:20px 0 10px 20px;display:inline;}
 .lo_layout3wt #zB {clear:left;float:left;width:320px;margin:10px 0 20px 20px;display:inline;}
 .lo_layout3wt #zC {width:242px;}
 .lo_layout3wt #zC {margin-left:360px;}
 .lo_layout3wt #zC,x:-moz-any-link {margin-left:20px;}
 .lo_layout3wt #zC,x:-moz-any-link,x:default {margin-left:360px;}
 .lo_layout3wt #zC, {margin-left:357px;}
 .lo_layout3wt #zC .modWrap {padding:20px 20px 5px 20px;}
 .lo_layout3wt #zB #mapZone {width:300px;}
 .lo_layout3wt #zC form#contactForm {width:175px;}
 
 
 /**************************************************************
 Theme: Boardroom - Derived From: Blush
 Layout: Layout 3 with Title - Derived From: Layout 3 with Title
 **************************************************************/
 .lo_layout3wt #zC {
 
 		}
 .lo_layout3wt #zC {
 			border-left-width: 1px;
 
 			border-left-style: solid;
 
 			border-bottom-width: 1px;
 
 			border-bottom-style: solid;
 
 		}
 
 #body {
 	color: #44433f;
 }
 
 #hd {
 	color: #edecdc;
 }
 
 #pageName h2 {
 	color: #f7f1db;
 }
 
 #body h3 {
 	color: #005c87;
 }
 
 #hd h3 {
 	color: #edecdc;
 }
 
 #body a:link,
 #body a:visited {
 	color: #007db8;
 }
 
 #body a:hover,
 #body a:focus,
 #body a:active {
 	text-decoration: none;
 }
 
 #hd a:link,
 #hd a:visited {
 	color: #ffffff;
 }
 
 ul#mainNav a:link,
 ul#mainNav a:visited {
 	color: #005c87;
 }
 
 ul#mainNav a:hover,
 ul#mainNav a:focus,
 ul#mainNav a:active {
 	color: #515655;
 }
 
 #navigation ul#mainNav li.active a {
 	color:#44433f;
 }
 
 #ft a:link,
 #ft a:visited {
 	color: #007db8;
 }
 
 #ft a:link:hover,
 #ft a:link:focus,
 #ft a:link:active {
 	text-decoration: none;
 }
 
 html {
 	background-color: #4d4038 !important;
 }
 
 body  {
 	background-color: #4d4038;
 }
 
 #doc  {
 	background-image: url(images/doc.gif);
 }
 
 #hd  {
 	background-color: #4d4038;
 }
 
 #hMisc  {
 	background-image: url(images/hmisc.gif);
 }
 
 #pageName {
 	background-color: #aeb831;
 }
 
 ul#mainNav {
 	background-color: #a4b8c2;
 }
 
 
 ul#mainNav li {
 	background-color: #c2cfd7;
 }
 
 ul#mainNav li.active,
 ul#mainNav a:hover,
 ul#mainNav a:focus,
 ul#mainNav a:active {
 	background-color: #a4b8c2;
 }
 
 #navigation {
 	border-top-color: #aeb831;
 }
 
 ul#mainNav li {
 	border-bottom-color: #9da6ab;
 }
 
 #mapZone {
 	border-color: #acaeab;
 }
 
 * html #mapContainer {
 	border-color: #acaeab;
 }
 
 #body #mainNav .subNav a {
 	background-color:#C2CFD7;
 	color:#005C87;
 }
 	
 #body #mainNav .subNav a:hover,
 #body #mainNav .active-sub a {
 	color:#515655;
 }
 	 
 #body .sub_static #mainNav .subNav a:hover,
 #body .sub_static #mainNav .active-sub a {
 	background-color:#B3C3CB;
 }
 
 #body .sub_dynamic #mainNav .subNav a:hover,
 #body .sub_dynamic #mainNav .active-sub a {
 	background-color:#A4B8C1;
 }
 
 #body .sub_dynamic #mainNav .subNav {
 	border-color:#9DA6AB;
 }
 			
 #body .subNav {
 	border-top-color: #9DA6AB;
 }
 			
 .lo_layout1 #zA, .lo_layout1wt #zA {
 	color: #005c87;
 }
 .lo_layout1 #doc, .lo_layout1wt #doc {
 	background-image: url(images/doc_l1.gif);
 }
 .lo_layout1 #zA, .lo_layout1wt #zA, .lo_layout1 #ft, .lo_layout1wt #ft {
 	background-color: #f5f5ed;
 }
 .lo_layout1 #zA, .lo_layout1wt #zA {
 
 	border-bottom-color: #bfbeba;
 }
 .lo_layout1 #ft, .lo_layout1wt #ft {
 
 	border-top-color: #bfbeba;
 }
 .lo_layout2wt #zC {
 	background-color: #f1f2e0;
 }
 .lo_layout2wt #zC {
 
 	border-bottom-color: #bfbeba;
 
 	border-top-color: #bfbeba;
 }
 .lo_layout3wt #zC {
 	background-color: #f1f2e0;
 }
 .lo_layout3wt #zC {
 
 	border-left-color: #bfbeba;
 
 	border-bottom-color: #bfbeba;
 }
